Package: com.toogoodbruh.test
Name: Test
Depends: winterboard
Version: 1
Architecture: iphoneos-arm
Description: ONLY A TEST UPLOAD! DO NOT DOWNLOAD!
Maintainer: TooGoodBruh <>
Author: TooGoodBruh <>
Section: Themes (SpringBoard)
